/* Button
-------------------------------------------------------------- */
.button {
  $parent: &;
  background: none;
  border: 0;
  font-size: 14px;
  font-size: 1.4rem;
  text-align: left;
  cursor: pointer;
}
